# Application
PORT=8000
UPLOAD_DIR=uploads
EXPIRED_ACCESS_TOKEN=30s
EXPIRED_REFRESH_TOKEN=7d

# Them image or audio folder saved on your laptop not in server
FOLDER_IMAGE_QUESTION_LOCAL=
FOLDER_AUDIO_QUESTION_LOCAL=

# Cloudinary (https://cloudinary.com/documentation)
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=db_toeic_dev
DB_CONNECTION_LIMIT=10

# Client
CLIENT_ENDPOINT=http://localhost:5173